.opt-div {
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  gap: 5vw;
  border-radius: 50px;
  transition: all ease 500ms;
}
.opt-div:hover {
  background-color: #1e293bab;
}
